# Ignore generated or temporary files managed by the Workbench
.project/*
!.project/spec.yaml
!.project/configpacks

# General ignores
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temp directories, notebooks created by jupyterlab
.ipynb_checkpoints
.Trash-*/
.jupyter/
.local/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Workbench Project Layout
data/scratch/*
!data/scratch/.gitkeep=
data/
*.csv
*.ipynb
models/
code/LEVIRCD/
code/Onera Satellite Change Detection dataset - Images/
code/Onera Satellite Change Detection dataset - Test Labels/
code/Onera Satellite Change Detection dataset - Train Labels/
code/S2Looking/
code/ckpts_regime/
code/ckpts_regime_best_trial14_large/
code/ckpts_regime_optuna/
code/ckpts_regime_optuna_old/
hls_chips_all/
optuna_distill_regime.db
code/prithvi_distill/
code/prithvi_teacher/
code/timesen2crop_cache/
code/data_hf_eurosat/
code/eval/eval_logs/
code/eval/data_eurosat/
jupyterlab.lob
jupyterlab.log
